@import "tailwindcss";
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,italic,700);

@theme {
  --font-serif: Libre Baskerville, serif;
  --color-dark-bg: #38040E;
  --color-dark-2: #640D14;
  --color-dark-3: #800E13;
  --color-dark-4: #95232A;
  --color-accent-dark: #E22030;
  --color-light-bg: #F6F7F4;
  --color-light-2: #E1E5E1;
  --color-light-3: #CBD3CF;
  --color-light-4: #A8B4AC;
  --color-accent-light: #5E8370;
  --color-light-text: #1F2A23;
  --color-light-text-2: #3F4F45;
  --color-dark-text: #FBDADE;
  --color-dark-text-2: #F0A8AB;
  --color-text-error: red;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}